@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  pointer-events: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Support for editor styling in editorjs component (Not in rendering) */
h1.ce-header {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h2.ce-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h3.ce-header {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h4.ce-header {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h5.ce-header {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h6.ce-header {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 650px, min-width: 0px) {
  .ce-popover--opened {
    /* transform: translateY(-72px); */
    bottom: 77px;
  }
}
html {
  background-color: rgb(31 41 55);
}

.pie {
  --m: 0;
  --p: 50;
  --b: 22px;
  --c: darkred;
  --w: 150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2 + var(--m)));
}
