@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 2px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }